@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main {
  height: 80vh;
}
span {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
